
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Client/Views/Shared/View.cshtml";
}
<script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
<script src='https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js'></script>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons'>
<link href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="Stylesheet" type="text/css" />
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="//unpkg.com/axios/dist/axios.min.js"></script>
<div class="container">
    <div id="body-top">
        <div class="row booking">
            <div class="col-12">
                <!-- nav tabs -->
                <div class="row v-tabs">
                    <div role="presentation" class="col-6 active"><a href="#booking" class="" aria-controls="home" role="tab" data-toggle="tab">MUA VÉ XE TRỰC TUYẾN</a></div>
                    <div class="col-6"><a href="#">HƯỚNG DẪN ĐẶT VÉ</a></div>
                </div>
                <!-- end nav tabs -->
                <!-- tabs panes -->
                <div class="tab-contents info-booking">
                    <div class="tablepanel tab-pane active">
                        <form class="form">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Điểm khởi hành</label>
                                        <div class="controls">
                                            <i class="fas fa-bus icon"></i>

                                            <select name="idOrigin" id="idOrigin" class="form-control selectpicker" v-model="selected1">
                                                <option v-for="item in items.data" v-bind:value="item.id_station">{{item.name}}</option>
                                            </select>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="">Điểm đến</label>
                                        <div class="controls">
                                            <i class="fa fa-bus icon"></i>

                                            <select name="idDest" id="idDest" class="form-control selectpicker" v-model="selected2">
                                                <option v-for="item in items.data" v-bind:value="item.id_station">{{item.name}}</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="">Ngày khởi hành</label>
                                        <div class="controls">
                                            <i class="far fa-clock icon"></i>
                                            <input type="text" id="txtDate" name="dDate" placeholder="dd/mm/yyyy" class="form-control dDate date-readonly" value="" readonly />
                                            <small><em>Định dạng: dd-mm-yyyy</em></small>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="">Số lượng vé</label>
                                        <div class="controls">
                                            <i class="fas fa-ticket-alt icon"></i>

                                            <input type="number" name="numOfTicket" placeholder="1" value="1" class="form-control" min="1" max="10" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-12">
                                    <button type="button" class="btn btn-primary btn-block btn-flat btn-booking" id="js-booking" v-on:click="getUser2()">Mua vé</button>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end tabs panes -->
            </div>
        </div>
        <div id="body-contents">
            <div id="steps">
                <ul class="list-step">
                    <li>
                        Chọn tuyến
                    </li>
                    <li class="active">
                        Chọn ghế
                    </li>
                    <li>
                        Thông tin khách hàng
                    </li>
                    <li>
                        Thanh toán
                    </li>
                </ul>
            </div>
            <div id="content-steps">
                <!-- steps -->
                <div class="steps1">
                    <div class="row">
                        <div class="col-12 col-md-5">
                            <div class="tab-contents">
                                <div class="info-booking">
                                    <p class="text-center text-title text-upercase" v-for="item in items.data">{{item.note}}<span id="date"></span></p>
                                    <div class="tablepanel tab-pane active">
                                        <form class="form">
                                            <div class="row">
                                                <div class="col-12 form-group">
                                                    <div class="">
                                                        <label>Tuyến xe</label>
                                                        <p class="text-upercase">
                                                            <span class="float-left"v-for="item in items.data">{{item.note}}</span><span class="float-right">
                                                                <span v-for="item in items.data">{{item.price}}</span>
                                                            </span>
                                                        </p>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label for="">Giờ khởi hành</label>
                                                        <div class="controls">
                                                            <i class="far fa-clock icon"></i>
                                                            <select name="idDest" id="idDest" class="form-control  selectpicker">
                                                                <option value="">Chọn giờ khởi hành</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label for="">Điêm đón</label>
                                                        <div class="controls">
                                                            <i class="fas fa-map-marker-alt icon"></i>
                                                            <select name="idDest" id="idDest" class="form-control  selectpicker">
                                                                <option value="">Chọn điểm đón</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-12">
                                                    <button type="button" class="btn btn-primary btn-block btn-flat btn-booking" id="js-btn-prev"v-on:click="getUser()"><< Quay lại</button>

                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <button type="button" class="btn btn-primary btn-block btn-flat btn-booking " id="js-btn-next">>> Tiếp tục</button>

                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-7">
                            <!-- seat -->
                            @*<div class="panel">
                                <div class="row">
                                    <div class="col-6">
                                        Số lượng vé: <span>Chưa chọn ghế</span><span></span>
                                    </div>
                                    <div class="col-6 text-right">
                                        Tổng tiền: <span></span>
                                    </div>
                                </div>
                                <div id="grid-seat">
                                    <table class="table table-borderless grid-seat">
                                        <thead>
                                            <tr>
                                                <th scope="col" colspan="5"><p class="text-center text-upercase">Sơ đồ ghế</p></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="seat" onclick="seatClick()">1</div>
                                                </td>
                                                <td><div class="seat">2</div></td>
                                                <td></td>
                                                <td><div class="seat">3</div></td>
                                                <td><div class="seat">4</div></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="seat">5</div>
                                                </td>
                                                <td><div class="seat">6</div></td>
                                                <td></td>
                                                <td><div class="seat">7</div></td>
                                                <td><div class="seat">8</div></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="seat">9</div>
                                                </td>
                                                <td><div class="seat">10</div></td>
                                                <td></td>
                                                <td><div class="seat">11</div></td>
                                                <td><div class="seat">12</div></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="seat">9</div>
                                                </td>
                                                <td><div class="seat">10</div></td>
                                                <td></td>
                                                <td><div class="seat">11</div></td>
                                                <td><div class="seat">12</div></td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <div class="seat">13</div>
                                                </td>
                                                <td><div class="seat">14</div></td>
                                                <td></td>
                                                <td><div class="seat">15</div></td>
                                                <td><div class="seat">16</div></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="seat">17</div>
                                                </td>
                                                <td><div class="seat">18</div></td>
                                                <td></td>
                                                <td><div class="seat">19</div></td>
                                                <td><div class="seat">20</div></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="seat">21</div>
                                                </td>
                                                <td><div class="seat">22</div></td>
                                                <td></td>
                                                <td><div class="seat">23</div></td>
                                                <td><div class="seat">24</div></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>*@
                            <div class="wrapper tab-content">
                                <div class="wr-top">
                                    <span class="float-left">Số ghế: <span id="counter">0</span></span><span class="float-right">Tổng tiền: <span id="total">0</span>vnd</span>
                                </div>
                                <div class="">

                                    <div id="seat-map">
                                        <div class="front-indicator text-center">Sơ đồ ghế</div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12 col-md-4">
                                            <div id="seat-available">
                                                <span class="px-2"></span>Ghế trống
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div id="seat-selected">
                                                <span class="px-2"></span>Ghế chọn
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div id="seat-unavailable">
                                                <span class="px-2"></span>Ghế đã chọn
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end seat -->
                    </div>
                </div>
                <div class="steps2 ">
                    <div class="row">
                        <div class="col-12 col-md-5">
                            <div class="tab-contents contents-step2">
                                <p class="text-center text-upercase text-title">Thông tin khách hàng</p>
                                <div class="group-step">
                                    <div class="row">
                                        <div class="col-12">
                                            <label>Họ tên<span class="text-danger">*</span></label>
                                            <input type="email" class="form-control" id="js-name" aria-describedby="emailHelp" placeholder="Họ tên khách hàng">
                                            <p id="val-name" class="text-danger text-note"></p>
                                        </div>
                                        <div class="col-12 col-md-6">

                                        </div>
                                    </div>
                                </div>
                                <div class="row group-step">
                                    <div class="col-12 col-md-6">
                                        <label>Số điện thoại<span class="text-danger">*</span></label>
                                        <input type="" class="form-control" onKeyPress="return isNumberKey(event)" id="js-num" aria-describedby="number" placeholder="0345194003">
                                        <p id="val-num" class="text-danger text-note"></p>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <label>Email<span class="text-danger">*</span></label>
                                        <input type="email" class="form-control" id="js-email" aria-describedby="emailHelp" placeholder="name@example.com">
                                        <p id="val-mail" class="text-danger text-note"></p>
                                    </div>
                                </div>
                                <div class="row group-step">
                                    <div class="col-12">
                                        <label>Địa chỉ<span class="text-danger ">*</span></label>
                                        <textarea class="form-control" aria-label="With textarea" id="js-add"></textarea>
                                        <p id="val-add" class="text-danger text-note"></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <button type="button" class="btn btn-primary btn-block btn-flat btn-booking" id="js-btn-prev"><< Quay lại</button>

                                    </div>
                                    <div class="col-md-6 col-12">
                                        <button type="button" class="btn btn-primary btn-block btn-flat btn-booking " onclick="checkVal()" id="js-btn-next">>> Tiếp tục</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-7">
                            <div class="tab-contents contents-step2">
                                <p class="text-upercase text-center text-title">Điều khoản & lưu ý</p>
                                <p>(*) Quý khách vui lòng mang email có chứa mã vé đến văn phòng để đổi vé lên xe trước giờ xuất bến ít nhất <span class="text-title">60 phút</span> để chúng tôi trung chuyển. </p>
                                <p>(*) Thông tin hành khách phải chính xác, nếu không sẽ không thể lên xe hoặc hủy/đổi vé</p>
                                <p>(*) Quý khách không được đổi / trả vé vào các ngày Lễ Tết ( ngày thường qúy khách được quyền chuyển đổi hoặc hủy vé <span class="text-title">một lần</span>  duy nhất trước giờ xe chạy 24 giờ), phí hủy vé 10%. </p>
                                <p>(*) Nếu quý khách có nhu cầu trung chuyển, vui lòng liên hệ số điện thoại <span class="text-title">1900 6067</span>  trước khi đặt vé. Chúng tôi sẽ không đón/ trung chuyển tại những điểm xe trung chuyển không thể tới được.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script language="javascript">
    $(document).ready(function () {
        $("#txtDate").datepicker({
            dateFormat:'dd/mm/yyyy',
            minDate: 0,
            maxDate: 30,
        });
        $('#js-booking').click(function () {
            var a = $("#txtDate").datepicker({dateFormat:'dd/mm/yyyy'}).val();
            $('#date').html(a);
            console.log(a);
        });        
    });
</script>
<script type="text/javascript">
    new Vue({
        el: '#body-top',
        data () {
            return {
                selected1: 'A',
                selected2:'A',
                objectIndex: 0,
                items: [],
                //Driver: {
                //    id_driver: "id_driver",
                //    name: "name",
                //    birth: "birth",
                //    add: "add",
                //    phone: "phone",
                //    note: "note",
                //    flag: "flag",
                //}
            }
        },
        mounted () {
            this.getUser();
            this.getUser1();
        },
        methods: {
            //getID(id) {
            //    axios.get('http://localhost:54429/User/GetData/', { params: { id } })
            //       .then(response => {
            //           if (response.data.success) {
            //               this.items = response.data.content;
            //           }
            //           else {
            //               callToast("Không thành công", response.data.message, "error");
            //           }
            //       })
            //},
            getUser() {
                axios.get('http://localhost:3000/station')
                   .then(response => {
                       //this.items = [];
                       this.items = response.data;
                       //if (response.data.success) {
                       //    this.items = [];
                       //    this.items = response.data.data.name;
                       //}
                       //else {
                       //    callToast("Không thành công", response.data.message, "error");
                       //}
                   })
            },
            getUser1() {
                axios.get('http://localhost:3000/station')
                   .then(response => {
                       //this.items = [];
                       this.items = response.data;
                       //if (response.data.success) {
                       //    this.items = [];
                       //    this.items = response.data.data.name;
                       //}
                       //else {
                       //    callToast("Không thành công", response.data.message, "error");
                       //}
                   })
            },
            getUser2() {
                axios.get('http://localhost:3000/st1/'+this.selected1+'/st2/'+this.selected2+'')
                   .then(response => {
                       //this.items = [];
                       this.items = response.data;
                       //if (response.data.success) {
                       //    this.items = [];
                       //    this.items = response.data.data.name;
                       //}
                       //else {
                       //    callToast("Không thành công", response.data.message, "error");
                       //}
                   })
            },
            //createUser() {
            //    axios.post('http://localhost:54429/User/Create', this.User)
            //        .then(response => {
            //            if (response.data.success) {
            //                this.getUser();
            //            }
            //            else {
            //                callToast("Không thành công", response.data.message, "error");
            //            }
            //        })
            //},
            //deleteUser(id,index) {

            //    axios.get('http://localhost:54429/User/Delete', { params: { id} })
            //       .then(response => {
            //           if (response.data.success) {
            //               this.items.splice(index, 1);
            //           }
            //           else {
            //               callToast("Không thành công", response.data.message, "error");
            //           }
            //       })
            //},
            //updateUser() {
            //    axios.post('http://localhost:54429/User/Edit', this.User)
            //        .then(response => {
            //            if (response.data.success) {
            //                // this.items = response.data.content;
            //                this.items.splice(this.objectIndex, 1, response.data.content);
            //            }
            //            else {
            //                callToast("Không thành công", response.data.message, "error");
            //            }
            //        })
            //},
            //editUser(user, index) {
            //    this.objectIndex = index;
            //    this.User = {
            //        id_passenger: user.id_passenger,
            //        name: user.name,
            //        pass: user.pass,
            //        e_mail: user.e_mail,
            //        phone: user.phone,
            //        flag: user.flag,
            //    };
            //},

        },

    })
</script>