
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Client/Views/Shared/View.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <meta property="fb:admins" content="1373014969" />
    <meta property="fb:app_id" content="1677748725772019" />
    <title>Đăng nhập | FUTABus ID</title>

    <!--[if lt IE 9]>
     <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    @*<link rel="shortcut icon" href="/Images/favicon.ico" type="image/x-icon">
    <link href="Assets/Client1/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" id="theme-style-css" href="Assets/Client1/Content/css/style.css" type="text/css" media="all" />
    <link href="Assets/Client1/Content/css/custom.min.css" rel="stylesheet" />*@


</head>
<body>
    <!-- Google Tag Manager -->
    <!-- End Google Tag Manager -->
    <!-- Google Tag Manager -->
    @*<@*noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-W69S4S"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>*@
    @*<script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-W69S4S');</script>*@
    <!-- End Google Tag Manager -->
    <!-- Google Tag Manager -->
    <!-- End Google Tag Manager -->


    <div id="page">
        <!-- header -->


        <header>
            <div id="top">
                <div class="container">
                    <ul class="nav navbar-nav">
                        <li>&nbsp;</li>

                    </ul>
                </div>
            </div>
            <div id="header-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-ms-12">
                            <h1 id="logo">
                                <a href="">
                                    
                                </a>
                            </h1>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-ms-12 pull-right text-right">
                            <button type="button" class="btn btn-primary btn-block btn-flat btn-support">
                                <i class="fa fa-phone icon-flat bg-btn-actived"></i>
                                Tổng đài hỗ trợ: <span>1900 6067</span>
                            </button>



                        </div>
                    </div>
                </div>

            </div>
        </header>


        <section id="body-content">


            <div class="container" id="login-page">
                <div id="body-login" class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-ms-12">

                        <div id="login-form-left" class="border clearfix">
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-ms-12 col-lg-offset-2 col-md-offset-2">
                                <h3 class="text-uppercase text-center" style="margin:10px">Tôi đã đăng ký tài khoản</h3>

                                <div  class="form-horizontal">
                                    <div class="form-group">
                                        <label for="">Tên đăng nhập*</label>
                                        <input class="form-control" v-model="email"  data-val="true" data-val-required="Vui lòng điền email hoặc sđt" id="UserName" name="UserName" placeholder="Điền email" type="email" value="" />
                                    </div>
                                    <div class="form-group">
                                        <label for="">Mật khẩu*</label>
                                        <input class="form-control" v-model="password" data-val="true" data-val-required="Vui lòng nhập mật khẩu" id="Password" name="Password" placeholder="Điền mật khẩu" type="password" />
                                    </div>

                                    <div class="form-group">
                                        <a href="/User/ForgetPassword">Quên mật khẩu?</a>
                                        <button class="btn btn-primary pull-right" v-on:click="SignIn()">
                                            Đăng nhập
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-ms-12">
                        <div id="login-form-right" class="border clearfix">
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-ms-12 col-lg-offset-2 col-md-offset-2">
                                <h3 class="text-uppercase text-center">Bạn là khách hàng mới?</h3>
                                <p class="text-center">
                                    <a href="/User/Register" class="btn btn-success">Đăng ký</a>
                                </p>
                                <p class="text-muted text-center">
                                    Chỉ với 1 tài khoản FUTABUS ID, tham gia được tất cả các chương trình của FUTA Bus Lines
                                </p>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <!-- footer -->
     

    </div>
    @*<script type="text/javascript" src="Assets/Client1/bower_components/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="Assets/Client1/Content/js/bootstrap.min.js"></script>
    <script src="Assets/Client1/Content/js/bootstrap-datepicker.min.js"></script>
    <script src="Assets/Client1/Content/locales/bootstrap-datepicker.vi.min.js"></script>
    <script type="text/javascript" src="Assets/Client1/bower_components/moment/moment-with-locales.min.js"></script>*@


    <!-- GA -->





</body>
</html>
<script>

    new Vue({
        el: '#page',
        data() {
            return {
                email: '',
                password: '',
                token:null,
                items:[],
            }
        },
        
        methods: {
            SignIn() {
                console.log(this.email);
                const data1 = {
                    username:this.email,
                    password:this.password,
                }
                const config={
                    headers: {
                        'Content-Type':'application/json'
                    }
                }
                axios.post('http://localhost:3000/login', data1,config)
                .then(response => {

                    if (response.data.data === 'fail') {
                        console.log(response.data.data);
                        alert("Login fail");
                    } else {
                        console.log(response.data.success);
                        this.items = response.data.success;
                        this.token = response.data.success;
                        window.location = '/Client/Home/Index?token=' + this.token;
                    }
                })
            },

        },
        mounted() {
            //this.SignIn();
        },
    })
</script>


