
@{
    ViewBag.Title = "Register";
    Layout = "~/Areas/Client/Views/Shared/View.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <meta property="fb:admins" content="1373014969" />
    <meta property="fb:app_id" content="1677748725772019" />
    <title>Đăng k&#253; | FUTABus ID</title>

    <!--[if lt IE 9]>
     <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="/Assets/Client1/Images/favicon.ico" type="image/x-icon">
    <link href="/Assets/Client1/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" id="theme-style-css" href="/Assets/Client1/css/style.css" type="text/css" media="all" />
    <link href="/Assets/Client1/css/custom.min.css" rel="stylesheet" />


</head>
<body>
    <!-- Google Tag Manager -->
    <!-- End Google Tag Manager -->
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-W69S4S"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-W69S4S');</script>
    <!-- End Google Tag Manager -->
    <!-- Google Tag Manager -->
    <!-- End Google Tag Manager -->


    <div id="page">
        <!-- header -->


        <header>
            <div id="top">
                <div class="container">
                    <ul class="nav navbar-nav">
                        <li>&nbsp;</li>

                    </ul>
                </div>
            </div>
            <div id="header-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-ms-12">
                            <h1 id="logo">
                                <a href="/Client/Home/Index">

                                </a>
                            </h1>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-ms-12 pull-right text-right">
                            <button type="button" class="btn btn-primary btn-block btn-flat btn-support">
                                <i class="fa fa-phone icon-flat bg-btn-actived"></i>
                                Tổng đài hỗ trợ: <span>1900 6067</span>
                            </button>



                        </div>
                    </div>
                </div>

            </div>
        </header>


        <section id="body-content">



            <div class="container" id="login-page">
                <div id="body-register" class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-ms-12">
                        <div id="register-form-wrapper" class="border padding 10 clearfix">
                            <form class="py-3 px-3">
                                <input name="__RequestVerificationToken" type="hidden" value="y1TgFSk7PZHQTXyR2GM0-A_CpAn1Vbpbtryy7Hmn3xaUiHBG5r_CwrrNV5MefBQVigZxNOwy5vtByLignkKgf_SkH1U1" />                    <h3 class="text-uppercase">Đăng ký</h3>

                                <div class="form-group">
                                    <label for="">Họ tên <span class="text-primary">*</span></label>
                                    <input class="form-control" id="FullName" name="FullName" placeholder="Điền họ tên" type="text" value="" v-model="name" />
                                </div>
                                <div class="form-group">
                                    <label for="">Email <span class="text-primary">*</span></label>
                                    <input class="form-control" id="Email" name="Email" placeholder="Điền địa chỉ email" type="email" value="" v-model="email" />
                                </div>
                                <div class="form-group">
                                    <label for="">Mật khẩu <span class="text-primary">*</span></label>
                                    <input class="form-control" id="Password" name="Password" placeholder="Điền mật khẩu" type="password" v-model="password" />
                                </div>
                                <div class="form-group">
                                    <label for="">Số di động <span class="text-primary">*</span></label>
                                    <input class="form-control" id="Phone" name="Phone" placeholder="Điền số di động" type="text" value="" v-model="phone" />
                                </div>
                                <div class="form-group">
                                    <label for="">Địa chỉ</label>
                                    <input class="form-control" id="Address" name="Address" placeholder="Điền địa chỉ liên hệ" type="text" value="" v-model="add" />
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary pull-right float-right" v-on:click="Register()">HOÀN TẤT</button>
                                    
                                </div>
                                <p class="clearfix">
                                    <small class="pull-right float-right"><span class="text-primary">*</span> Mục bắt buộc </small>
                                </p>
                            </form>
                            
                        </div>
                    </div>
                </div>

            </div>

        </section>

        <!-- footer -->


    </div>
    <script type="text/javascript" src="/Assets/Client1/bower_components/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/Content/js/bootstrap.min.js"></script>
    <script src="/Assets/Client1/js/bootstrap-datepicker.min.js"></script>
    <script src="/Assets/Client1/locales/bootstrap-datepicker.vi.min.js"></script>
    <script type="text/javascript" src="/Assets/Client1/bower_components/moment/moment-with-locales.min.js"></script>


    @*<script type="text/javascript">
            $(document).ready(function () {
                //Get province
                $.ajax({
                    method: "POST",
                    url: "https://api5.futabus.vn/api/queryprovince"
                }).done(function (msg) {
                    var p = $("#ProvinceId").empty();
                    p.append($("<option></option>").val(0).html("Chọn tỉnh/tp"));
                    if (msg.Status === 1) {
                        $.each(msg.Data, function (i, v) {
                            p.append($("<option></option>").val(v.Id).html(v.Name));
                        }); // there was also a ) missing here
                    } else {
                        p.append($("<option></option>").val(31).html("TP.Hồ Chí Minh"));
                    }
                    p.val(p.attr('datavalue'));
                    p.trigger('change');
                });

                $("#ProvinceId").on("change", function (e) {
                    var p = parseInt($("#ProvinceId > option:selected").val());
                    if (isNaN(p)) {
                        p = 0;
                    }

                    var c = $("#CityId").empty();
                    c.append($("<option></option>").val(0).html("Chọn quận/huyện"));

                    if (p > 0) {
                        $.ajax({
                            method: "POST",
                            url: "https://api5.futabus.vn/api/querycity",
                            data: { ProvinceId: p }
                        }).done(function (msg) {
                            if (msg.Status === 1) {
                                $.each(msg.Data, function (i, v) {
                                    c.append($("<option></option>").val(v.Id).html(v.Name));
                                }); // there was also a ) missing here
                            } else {
                                c.append($("<option></option>").val(391).html("Quận 5"));
                            }
                            c.val(c.attr('datavalue'));
                        });
                    }

                });
            });
        </script>*@

    <!-- GA -->





</body>
</html>
<script>
    new Vue({
        el: '#page',
        data() {
            return {
                email: '',
                password: '',
                phone: '',
                name: '',
                add: '',
                items: [],
                User: {
                    name: '',
                    phone: '',
                    email: '',
                    password:'',
                }
            }
        },
        methods: {
            Register() {
                //console.log(this.email);
                //const data1 = {
                //    username: this.email,
                //    password: this.password,
                //}
                //const config = {
                //    headers: {
                //        'Content-Type': 'application/json'
                //    }
                //}
                axios.get('http://localhost:3000/signup/name/' + this.name + '/phone/' + this.phone + '/email/' + this.email + '/pass/' + this.password + '')
                .then(response => {
                    this.items = response.data;
                })
            }
        },
        mounted() {

        }
    })
</script>
