
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}
@section header{
       <!DOCTYPE html>
<script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
<script src='https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js'></script>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons'>
<script src="//unpkg.com/axios/dist/axios.min.js"></script>
<style>
    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 2px 4px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 13px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .buttonAdd {
        background-color: white;
        color: black;
        border: 2px solid #555555;
        position: absolute;
        right: 13px;
        top: 100px;
    }

        .buttonAdd:hover {
            background-color: #555555;
            color: white;
        }

    .buttonEdt {
        background-color: white;
        color: black;
        border: 2px solid #555555;
        position: absolute;
        right: 13px;
        top: 140px;
    }

        .buttonEdt:hover {
            background-color: #555555;
            color: white;
        }

    .buttonDel {
        background-color: white;
        color: black;
        border: 2px solid #555555;
    }

        .buttonDel a {
            text-decoration: none;
        }


        .buttonDel:hover {
            background-color: #555555;
            color: white;
        }

    .buttonEd {
        background-color: white;
        color: black;
        border: 2px solid #555555;
    }

        .buttonEd:hover {
            background-color: #555555;
            color: white;
        }
</style>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div id="Ex">
        <div>
            <input v-model="Schedule.id_schedule" style="border:solid 1px; padding-bottom: 5px; font-size:15px" readonly />
            <input v-model="Schedule.id_route" style="border:solid 1px; padding-bottom: 5px; font-size:15px" /><br />
            <input v-model="Schedule.id_bus" style="border:solid 1px; padding-bottom: 5px; font-size:15px" />
            <input v-model="Schedule.id_driver" style="border:solid 1px; padding-bottom: 5px; font-size:15px" />
            <input type="date" v-model="Schedule.departure" style="border:solid 1px; padding-bottom: 5px; font-size:15px" /> 
            <input v-model="Schedule.price" style="border:solid 1px; padding-bottom: 5px; font-size:15px" />
            <input v-model="Schedule.note" style="border:solid 1px; padding-bottom: 5px; font-size:15px" />
            <input v-model="Schedule.flag" style="border:solid 1px; padding-bottom: 5px; font-size:15px" />
            <button class="button buttonAdd" v-on:click="createUser">Thêm</button>
            <button class="button buttonEdt" v-on:click="updateUser">Cập nhật</button>
        </div>
        <br />
        <br />
        <h2 style="text-align:center">Danh sách Vé</h2>
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="font-size:12px">
            <tr style="text-align:center">
                <th>id_schedule</th>
                <th>id_route</th>
                <th>id_bus</th>
                <th>id_driver</th>
                <th>departure</th>
                <th>price</th>
                <th>note</th>
                <th>flag</th>
                <th>##</th>
            </tr>
            <tr v-for="(item,index) in items " style="text-align:center">
                <td>{{item.id_schedule}}</td>
                <td>{{item.id_route}}</td>
                <td>{{item.id_bus}}</td>
                <td>{{item.id_driver}}</td>
                <td>{{item.departure}}</td>
                <td>{{item.price}}</td>
                <td>{{item.note}}</td>
                <td>{{item.flag}}</td>
                <td>
                    <button class="button buttonDel" v-on:click="deleteUser(item.ID,index)">Xóa</button> ||
                    <button class="button buttonEd" v-on:click="editUser(item,index)">Sửa</button>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
<script type="text/javascript">
    new Vue({
        el: '#Ex',
        data () {
            return {
                objectIndex: 0,
                items: [],
                Schedule: {
                    id_schedule: "id_schedule",
                    id_route: "id_route",
                    id_bus: "id_bus",
                    id_driver: "id_driver",
                    departure: "departure",
                    price: "price",
                    note: "note",
                    flag: "flag",
                }
            }
        },
        methods: {
            getID(id) {
                axios.get('http://localhost:54429/Schedule/GetData/', { params: { id } })
                   .then(response => {
                       if (response.data.success) {
                           this.items = response.data.content;
                       }
                       else {
                           callToast("Không thành công", response.data.message, "error");
                       }
                   })
            },
            getUser() {
                axios.get('http://localhost:54429/Schedule/GetData')
                   .then(response => {
                       if (response.data.success) {
                           this.items = [];
                           this.items = response.data.content;
                       }
                       else {
                           callToast("Không thành công", response.data.message, "error");
                       }
                   })
            },
            createUser() {
                axios.post('http://localhost:54429/Schedule/Create', this.Schedule)
                    .then(response => {
                        if (response.data.success) {
                            this.getUser();
                        }
                        else {
                            callToast("Không thành công", response.data.message, "error");
                        }
                    })
            },
            deleteUser(id, index) {

                axios.get('http://localhost:54429/Schedule/Delete', { params: { id} })
                   .then(response => {
                       if (response.data.success) {
                           this.items.splice(index, 1);
                       }
                       else {
                           callToast("Không thành công", response.data.message, "error");
                       }
                   })
            },
            updateUser() {
                axios.post('http://localhost:54429/Schedule/Edit', this.Schedule)
                    .then(response => {
                        if (response.data.success) {
                            // this.items = response.data.content;
                            this.items.splice(this.objectIndex, 1, response.data.content);
                        }
                        else {
                            callToast("Không thành công", response.data.message, "error");
                        }
                    })
            },
            editUser(user, index) {
                this.objectIndex = index;
                this.Schedule = {
                    id_schedule: user.id_schedule,
                    id_route: user.id_route,
                    id_bus: user.id_bus,
                    id_driver: user.id_driver,
                    departure:user.departure,
                    price: user.price,
                    note: user.note,
                    flag: user.flag,
                };
            },

        },
        mounted () {
            this.getUser();
        }
    })
</script>
}


