<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nhà xe Thành Đạt</title>
    <!-- css -->
    <link rel="stylesheet" href="/Assets/Client1/css/style.css">
    <link rel="stylesheet" type="text/css" href="/Assets/Client/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/Assets/Client/dist/fontawesome/css/all.min.css">
    <!-- js -->
    <script type="text/javascript" src="/Assets/Client1/js/jquery.js"></script>
    <script type="text/javascript" src="/Assets/Client1/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/Assets/Client1/dist/fontawesome/js/all.min.js"></script>
    <script type="text/javascript" src="/Assets/Client1/js/script.js"></script>
    <script type="text/javascript" src="/Assets/Client1/js/booking.js"></script>
    <script type="text/javascript" src="/Assets/Client1/js/WTR-I-Passenger.js"></script>
</head>
<body id="home">
    <section>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-xl navbar-dark bg-header">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="/Assets/Client1/images/logo.png" alt="logo" width="90"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContentXL" aria-controls="navbarSupportedContentXL" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContentXL">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Lịch trình <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Khuyến mãi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Tin tức</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Tuyển dụng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Liên hệ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Đăng nhập</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Đăng ký</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-submit my-2 my-sm-0" id="" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav><!-- end nav -->
    @RenderBody()
    </section>

</body>
</html>