
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nhà xe Thành Đạt</title>
    <link rel="stylesheet" href="/Assets/Client1/css/style.css">
    <link rel="stylesheet" type="text/css" href="/Assets/Client1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/Assets/Client1/dist/fontawesome/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/Client1/dist/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="/Assets/Client1/css/pay.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/Client1/css/seat.css" />

    <script type="text/javascript" src="/Assets/Client1/js/jquery.js"></script>
    <script type="text/javascript" src="/Assets/Client1/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/Assets/Client1/dist/fontawesome/js/all.min.js"></script>
    <script type="text/javascript" src="/Assets/Client1/js/script.js"></script>
    <script type="text/javascript" src="~/Assets/Client1/js/JavaScript.js"></script>
    <script type="text/javascript" src="/Assets/Client1/js/WTR-I-Passenger.js"></script>
    <script type="text/javascript"src="~/Assets/Client1/dist/slick/"></script>
    <script type="text/javascript" src="~/Assets/Client1/js/jquery.seat-charts.js"></script>
</head>
<body>
    <section>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-xl navbar-dark bg-header">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="/Assets/Client1//images/logo.png" alt="logo" width="90"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContentXL" aria-controls="navbarSupportedContentXL" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContentXL">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Lịch trình <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Khuyến mãi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Tin tức</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Tuyển dụng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Liên hệ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Đăng nhập</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Đăng ký</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-submit my-2 my-sm-0" id="" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav><!-- end nav -->
        <div class="container">
            <div id="body-top">
                <div class="row booking">
                    <div class="col-12 col-md-7">
                        <!-- nav tabs -->
                        <div class="row v-tabs">
                            <div role="presentation" class="col-6 active"><a href="#booking" class="" aria-controls="home" role="tab" data-toggle="tab">MUA VÉ XE TRỰC TUYẾN</a></div>
                            <div class="col-6"><a href="#">HƯỚNG DẪN ĐẶT VÉ</a></div>
                        </div>
                        <!-- end nav tabs -->
                        <!-- tabs panes -->
                        <div class="tab-contents info-booking">
                            <div class="tablepanel tab-pane active">
                                <form class="form">
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label>Điểm khởi hành</label>
                                                <div class="controls">
                                                    <i class="fas fa-bus icon"></i>

                                                    <select name="idOrigin" id="idOrigin" class="form-control selectpicker">
                                                        <option value="">Chọn điểm khởi hành</option>
                                                    </select>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label for="">Điểm đến</label>
                                                <div class="controls">
                                                    <i class="fa fa-bus icon"></i>

                                                    <select name="idDest" id="idDest" class="form-control  selectpicker">
                                                        <option value="">Chọn điểm đến</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label for="">Ngày khởi hành</label>
                                                <div class="controls">
                                                    <i class="far fa-clock icon"></i>
                                                    <input type="text" name="dDate" placeholder=" dd/mm/yyyy" class="form-control dDate date-readonly" value="" readonly/>
                                                    <small><em>Định dạng: dd-mm-yyyy</em></small>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label for="">Số lượng vé</label>
                                                <div class="controls">
                                                    <i class="fas fa-ticket-alt icon"></i>

                                                    <input type="number" name="numOfTicket" placeholder="1" value="1" class="form-control" min="1" max="10" />
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-12">
                                            <button type="button" class="btn btn-primary btn-block btn-flat btn-booking" id="js-booking">Mua vé</button>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- end tabs panes -->
                    </div>
                </div>
                <div id="body-contents">
                    <div id="steps">
                        <ul class="list-step">
                            <li>
                                Chọn tuyến
                            </li>
                            <li class="active">
                                Chọn ghế
                            </li>
                            <li>
                                Thông tin khách hàng
                            </li>
                            <li>
                                Thanh toán
                            </li>
                        </ul>
                    </div>
                    <div id="content-steps">
                        <!-- steps -->
                        <div class="steps1">
                            <div class="row">
                                <div class="col-12 col-md-5">
                                    <div class="tab-contents">
                                        <div class="info-booking">
                                            <p class="text-center text-title text-upercase">HCM-Vũng Tàu<span>12/12/2012</span></p>
                                            <div class="tablepanel tab-pane active">
                                                <form class="form">
                                                    <div class="row">
                                                        <div class="col-12 form-group">
                                                            <div class="">
                                                                <label>Tuyến xe</label>
                                                                <p class="text-upercase">
                                                                    <span class="float-left">HCM-Vũng Tàu</span><span class="float-right">
                                                                        <span>100.000</span>
                                                                    </span>
                                                                </p>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label for="">Giờ khởi hành</label>
                                                                <div class="controls">
                                                                    <i class="far fa-clock icon"></i>
                                                                    <select name="idDest" id="idDest" class="form-control  selectpicker">
                                                                        <option value="">Chọn giờ khởi hành</option>
                                                                    </select>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label for="">Điêm đón</label>
                                                                <div class="controls">
                                                                    <i class="fas fa-map-marker-alt icon"></i>
                                                                    <select name="idDest" id="idDest" class="form-control  selectpicker">
                                                                        <option value="">Chọn điểm đón</option>
                                                                    </select>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 col-12">
                                                            <button type="button" class="btn btn-primary btn-block btn-flat btn-booking" id="js-btn-prev"><< Quay lại</button>

                                                        </div>
                                                        <div class="col-md-6 col-12">
                                                            <button type="button" class="btn btn-primary btn-block btn-flat btn-booking " id="js-btn-next">>> Tiếp tục</button>

                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-7">
                                    <!-- seat -->
                                    <div class="wrapper tab-content">
                                        <div class="wr-top">
                                            <span class="float-left">Số ghế: <span id="counter">0</span></span><span class="float-right">Tổng tiền: <span id="total">0</span>vnd</span>
                                        </div>
                                        <div class="">

                                            <div id="seat-map">
                                                <div class="front-indicator text-center">Sơ đồ ghế</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-md-4">
                                                    <div id="seat-available">
                                                        <span class="px-2"></span>Ghế trống
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div id="seat-selected">
                                                        <span class="px-2"></span>Ghế trống
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div id="seat-unavailable">
                                                        <span class="px-2"></span>Ghế trống
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div><!-- end seat -->
                            </div>
                        </div>
                        <div class="steps2 ">
                            <div class="row">
                                <div class="col-12 col-md-5">
                                    <div class="tab-contents contents-step2">
                                        <p class="text-center text-upercase text-title">Thông tin khách hàng</p>
                                        <div class="group-step">
                                            <div class="row">
                                                <div class="col-12">
                                                    <label>Họ tên<span class="text-danger">*</span></label>
                                                    <input type="email" class="form-control" id="js-name" aria-describedby="emailHelp" placeholder="Họ tên khách hàng">
                                                    <p id="val-name" class="text-danger text-note"></p>
                                                </div>
                                                <div class="col-12 col-md-6">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row group-step">
                                            <div class="col-12 col-md-6">
                                                <label>Số điện thoại<span class="text-danger">*</span></label>
                                                <input type="" class="form-control" onKeyPress="return isNumberKey(event)" id="js-num" aria-describedby="number" placeholder="0345194003">
                                                <p id="val-num" class="text-danger text-note"></p>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <label>Email<span class="text-danger">*</span></label>
                                                <input type="email" class="form-control" id="js-email" aria-describedby="emailHelp" placeholder="name@example.com">
                                                <p id="val-mail" class="text-danger text-note"></p>
                                            </div>
                                        </div>
                                        <div class="row group-step">
                                            <div class="col-12">
                                                <label>Địa chỉ<span class="text-danger ">*</span></label>
                                                <textarea class="form-control" aria-label="With textarea" id="js-add"></textarea>
                                                <p id="val-add" class="text-danger text-note"></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-12">
                                                <button type="button" class="btn btn-primary btn-block btn-flat btn-booking" id="js-btn-prev"><< Quay lại</button>

                                            </div>
                                            <div class="col-md-6 col-12">
                                                <button type="button" class="btn btn-primary btn-block btn-flat btn-booking " onclick="checkVal()" id="js-btn-next">>> Tiếp tục</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-7">
                                    <div class="tab-contents contents-step2">
                                        <p class="text-upercase text-center text-title">Điều khoản & lưu ý</p>
                                        <p>(*) Quý khách vui lòng mang email có chứa mã vé đến văn phòng để đổi vé lên xe trước giờ xuất bến ít nhất <span class="text-title">60 phút</span> để chúng tôi trung chuyển. </p>
                                        <p>(*) Thông tin hành khách phải chính xác, nếu không sẽ không thể lên xe hoặc hủy/đổi vé</p>
                                        <p>(*) Quý khách không được đổi / trả vé vào các ngày Lễ Tết ( ngày thường qúy khách được quyền chuyển đổi hoặc hủy vé <span class="text-title">một lần</span>  duy nhất trước giờ xe chạy 24 giờ), phí hủy vé 10%. </p>
                                        <p>(*) Nếu quý khách có nhu cầu trung chuyển, vui lòng liên hệ số điện thoại <span class="text-title">1900 6067</span>  trước khi đặt vé. Chúng tôi sẽ không đón/ trung chuyển tại những điểm xe trung chuyển không thể tới được.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="steps3">
                            <div id="body-pay">
                                <div class="note">
                                    <b>Lưu ý !</b>Nếu quý khách chọn hình thức thanh toán chuyển khoản, vui lòng chuyển khoản tiền vé trong vòng <b>12 tiếng</b> kể từ thời gian đặt vé.
                                    Để việc chuyển khoản được diễn ra nhanh chóng và tiện lợi, quý khách có thể ra ATM hoặc quầy giao dịch của ngân hàng VietinBank hoặc Agribank để chuyển khoản trực tiếp vào tài khoản Phương Trang.
                                    Thời gian chuyển khoản: <b>08:00 đến 17:00 trong ngày</b>,<b>không nhận đặt vé chuyển khoản vào các ngày thứ Bảy, Chủ nhật</b>
                                </div>
                                <div>
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="panel">
                                                <p class="text-upercase text-center text-title">Chọn cổng thanh toán</p>
                                                <div class="payment">
                                                    <ul class="row">
                                                        <li class="col-12 col-md-4">
                                                            <div class="text-center panel-pay">
                                                                <p class="text-center">Thanh toán thẻ tín dụng/ghi nợ</p>
                                                                <div class="payment-img">
                                                                    <img src="/Assets/Client1/images/visa-card.gif" alt="Thanh toán thẻ tín dụng/ghi nợ" class="img-fluid">
                                                                </div>
                                                                <input type="radio" />
                                                            </div>
                                                        </li>
                                                        <li class="col-12 col-md-4">
                                                            <div class="text-center panel-pay">
                                                                <p class="text-center">Thanh toán thẻ ATM Nội địa</p>
                                                                <div class="payment-img">
                                                                    <img src="/Assets/Client1/images/nganluong.vn.png" alt="Thanh toán thẻ ATM Nội địa" class="img-fluid">
                                                                </div>

                                                                <input type="radio" />
                                                            </div>
                                                        </li>
                                                        <li class="col-12 col-md-4">
                                                            <div class="text-center panel-pay">
                                                                <p class="text-center">Thanh toán thẻ ATM Nội địa</p>
                                                                <div class="payment-img">
                                                                    <img src="/Assets/Client1/images/napas.jpg" alt="Thanh toán thẻ ATM Nội địa" class="img-fluid">
                                                                </div>
                                                                <input type="radio" class="text-center" />
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <div class="col-12">
                                                        <button type="button" class="btn btn-primary btn-block btn-flat btn-booking" id="js-btn-prev"><< Quay lại</button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="panel">
                                                <p class="text-upercase text-center text-title">Thông tin đặt vé</p>
                                                <div class="info">
                                                    <table class="table">
                                                        <tbody>
                                                            <tr>
                                                                <td>Tuyến:</td>
                                                                <td colspan="3"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Ngày đi:</td>
                                                                <td></td>
                                                                <td>Ghế/giường:</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Điểm lên xe</td>
                                                                <td colspan="3"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Họ và tên:</td>
                                                                <td colspan="3"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Email:</td>
                                                                <td></td>
                                                                <td>Số điện thoại:</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Thành tiền:</td>
                                                                <td colspan="3"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <div class="col-12">
                                                        <button type="submit" class="btn btn-primary btn-block btn-flat btn-booking">Thanh toán</button>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="star-city" class="content">
                <h4 class="text-upercase"><span><i class="fas fa-map-marker-alt"></i></span> Các điểm khởi hành</h4>
                <div>
                    <ul>

                        <li>
                            <div class="card card-width">
                                <div class="overflow-hidden">
                                    <img src="/Assets/Client1/images/VungTau.jpg" class="card-img-top" alt="Vũng Tàu">
                                </div>
                                <div class="card-body card-body-edit">
                                    <p><span class="card-icon"><i class="fas fa-bus"></i></span> Điểm khởi hành: <span class="text-upercase card-text">Vũng Tàu</span></p>
                                    <p><span class="card-icon"><i class="fas fa-phone-volume"></i></span> Hotline: <span class="text-upercase card-text">0996 500 500</span></p>
                                    <p><span class="card-icon"><i class="fas fa-map-marker-alt"></i></span> Điểm đến: HCM, Nha Trang, ...</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card card-width">
                                <div class="overflow-hidden">
                                    <img src="/Assets/Client1/images/ThanhHoa.jpg" class="card-img-top" alt="...">
                                </div>
                                <div class="card-body card-body-edit">
                                    <p><span class="card-icon"><i class="fas fa-bus"></i></span> Điểm khởi hành: <span class="text-upercase card-text">Thanh Hóa</span></p>
                                    <p><span class="card-icon"><i class="fas fa-phone-volume"></i></span> Hotline: <span class="text-upercase card-text">0996 500 500</span></p>
                                    <p><span class="card-icon"><i class="fas fa-map-marker-alt"></i></span> Điểm đến: Huế, HCM</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card card-width">
                                <div class="overflow-hidden">
                                    <img src="/Assets/Client1/images/PhanThiet.jpg" class="card-img-top" alt="...">
                                </div>
                                <div class="card-body card-body-edit">
                                    <p><span class="card-icon"><i class="fas fa-bus"></i></span> Điểm khởi hành: <span class="text-upercase card-text">Phan Thiết</span></p>
                                    <p><span class="card-icon"><i class="fas fa-phone-volume"></i></span> Hotline: <span class="text-upercase card-text">0996 500 500</span></p>
                                    <p><span class="card-icon"><i class="fas fa-map-marker-alt"></i></span> Điểm đến: Vũng Tàu, HCM</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card card-width">
                                <div class="overflow-hidden">
                                    <img src="/Assets/Client1/images/NhaTrang.jpg" class="card-img-top" alt="...">
                                </div>
                                <div class="card-body card-body-edit">
                                    <p><span class="card-icon"><i class="fas fa-bus"></i></span> Điểm khởi hành: <span class="text-upercase card-text">Nha Trang</span></p>
                                    <p><span class="card-icon"><i class="fas fa-phone-volume"></i></span> Hotline: <span class="text-upercase card-text">0996 500 500</span></p>
                                    <p><span class="card-icon"><i class="fas fa-map-marker-alt"></i></span> Điểm đến: Vũng Tàu, HCM</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card card-width">
                                <div class="overflow-hidden">
                                    <img src="/Assets/Client1/images/LongAn.jpg" class="card-img-top" alt="...">
                                </div>
                                <div class="card-body card-body-edit">
                                    <p><span class="card-icon"><i class="fas fa-bus"></i></span> Điểm khởi hành: <span class="text-upercase card-text">Long An</span></p>
                                    <p><span class="card-icon"><i class="fas fa-phone-volume"></i></span> Hotline: <span class="text-upercase card-text">0996 500 500</span></p>
                                    <p><span class="card-icon"><i class="fas fa-map-marker-alt"></i></span> Điểm đến: Vũng Tàu, Cần Thơ, Bến Tre, HCM</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card card-width">
                                <div class="overflow-hidden">
                                    <img src="/Assets/Client1/images/Hue.jpg" class="card-img-top" alt="...">
                                </div>

                                <div class="card-body card-body-edit">
                                    <p><span class="card-icon"><i class="fas fa-bus"></i></span> Điểm khởi hành: <span class="text-upercase card-text">Huế</span></p>
                                    <p><span class="card-icon"><i class="fas fa-phone-volume"></i></span> Hotline: <span class="text-upercase card-text">0996 500 500</span></p>
                                    <p><span class="card-icon"><i class="fas fa-map-marker-alt"></i></span> Điểm đến: Thanh Hóa, Nha Trang, Phan Thiết,..</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card card-width">
                                <div class="overflow-hidden">
                                    <img src="/Assets/Client1/images/HCM.png" class="card-img-top" alt="...">
                                </div>
                                <div class="card-body card-body-edit">
                                    <p><span class="card-icon"><i class="fas fa-bus"></i></span> Điểm khởi hành: <span class="text-upercase card-text">Hồ Chí Minh</span></p>
                                    <p><span class="card-icon"><i class="fas fa-phone-volume"></i></span> Hotline: <span class="text-upercase card-text">0996 500 500</span></p>
                                    <p><span class="card-icon"><i class="fas fa-map-marker-alt"></i></span> Điểm đến: Vũng Tàu, Nha Trang, Phan Thiết,...</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card card-width">
                                <div class="overflow-hidden">
                                    <img src="/Assets/Client1/images/HaNoi.jpg" class="card-img-top" alt="...">
                                </div>
                                <div class="card-body card-body-edit">
                                    <p><span class="card-icon"><i class="fas fa-bus"></i></span> Điểm khởi hành: <span class="text-upercase card-text">Hà Nội</span></p>
                                    <p><span class="card-icon"><i class="fas fa-phone-volume"></i></span> Hotline: <span class="text-upercase card-text">0996 500 500</span></p>
                                    <p><span class="card-icon"><i class="fas fa-map-marker-alt"></i></span> Điểm đến: Thanh Hóa, Huế</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card card-width">
                                <div class="overflow-hidden">
                                    <img src="/Assets/Client1/images/DaNang.png" class="card-img-top" alt="...">
                                </div>
                                <div class="card-body card-body-edit">
                                    <p><span class="card-icon"><i class="fas fa-bus"></i></span> Điểm khởi hành: <span class="text-upercase card-text">Đà Nẵng</span></p>
                                    <p><span class="card-icon"><i class="fas fa-phone-volume"></i></span> Hotline: <span class="text-upercase card-text">0996 500 500</span></p>
                                    <p><span class="card-icon"><i class="fas fa-map-marker-alt"></i></span> Điểm đến: Vũng Tàu, Nha Trang, Phan Thiết, HCM,...</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card card-width">
                                <div class="overflow-hidden">
                                    <img src="/Assets/Client1/images/DaLat.jpg" class="card-img-top" alt="...">
                                </div>
                                <div class="card-body card-body-edit">
                                    <p><span class="card-icon"><i class="fas fa-bus"></i></span> Điểm khởi hành: <span class="text-upercase card-text">Đà Lạt</span></p>
                                    <p><span class="card-icon"><i class="fas fa-phone-volume"></i></span> Hotline: <span class="text-upercase card-text">0996 500 500</span></p>
                                    <p><span class="card-icon"><i class="fas fa-map-marker-alt"></i></span> Điểm đến: Vũng Tàu, HCM</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card card-width">
                                <div class="overflow-hidden">
                                    <img src="/Assets/Client1/images/CanTho.jpg" class="card-img-top" alt="...">
                                </div>
                                <div class="card-body card-body-edit">
                                    <p><span class="card-icon"><i class="fas fa-bus"></i></span> Điểm khởi hành: <span class="text-upercase card-text">Cần Thơ</span></p>
                                    <p><span class="card-icon"><i class="fas fa-phone-volume"></i></span> Hotline: <span class="text-upercase card-text">0996 500 500</span></p>
                                    <p><span class="card-icon"><i class="fas fa-map-marker-alt"></i></span> Điểm đến: Bến Tre</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card card-width">
                                <div class="overflow-hidden">
                                    <img src="/Assets/Client1/images/BenTre.png" class="card-img-top" alt="...">
                                </div>
                                <div class="card-body card-body-edit">
                                    <p><span class="card-icon"><i class="fas fa-bus"></i></span> Điểm khởi hành: <span class="text-upercase card-text">Bến Tre</span></p>
                                    <p><span class="card-icon"><i class="fas fa-phone-volume"></i></span> Hotline: <span class="text-upercase card-text">0996 500 500</span></p>
                                    <p><span class="card-icon"><i class="fas fa-map-marker-alt"></i></span> Điểm đến: Cần Thơ, HCM</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        

        <div id="footer " class="py-4" style="background: #00877E">
            
        </div>
        @*end slide slick*@
    </section>
    <script>
        var firstSeatLabel = 1;

        $(document).ready(function () {
            var $cart = $('#selected-seats'),
                $counter = $('#counter'),
                $total = $('#total'),
                sc = $('#seat-map').seatCharts({
                    map: [
						'ee___',
						'ee_ee',
						'ee_ee',
						'ee_ee',
						'ee_ee',
						'ee_ee',
						'eeeee',
                    ],
                    seats: {
                        f: {
                            price: 100,
                            classes: 'first-class', //your custom CSS class
                            category: 'First Class'
                        },
                        e: {
                            price: 100000,
                            classes: 'economy-class', //your custom CSS class
                            category: 'Economy Class'
                        }

                    },
                    naming: {
                        top: false,
                        getLabel: function (character, row, column) {
                            return firstSeatLabel++;
                        },
                    },
                    legend: {
                        node: $('#legend'),
                        items: [
							['e', 'available', 'Economy Class'],
							['f', 'unavailable', 'Already Booked']
                        ]
                    },
                    click: function () {
                        if (this.status() == 'available') {
                            //let's create a new <li> which we'll add to the cart items
                            $('<li>' + this.data().category + ' Seat # ' + this.settings.label + ': <b>$' + this.data().price + '</b> <a href="#" class="cancel-cart-item">[cancel]</a></li>')
								.attr('id', 'cart-item-' + this.settings.id)
								.data('seatId', this.settings.id)
								.appendTo($cart);

                            /*
							 * Lets update the counter and total
							 *
							 * .find function will not find the current seat, because it will change its stauts only after return
							 * 'selected'. This is why we have to add 1 to the length and the current seat price to the total.
							 */
                            $counter.text(sc.find('selected').length + 1);
                            $total.text(recalculateTotal(sc) + this.data().price);

                            return 'selected';
                        } else if (this.status() == 'selected') {
                            //update the counter
                            $counter.text(sc.find('selected').length - 1);
                            //and total
                            $total.text(recalculateTotal(sc) - this.data().price);

                            //remove the item from our cart
                            $('#cart-item-' + this.settings.id).remove();

                            //seat has been vacated
                            return 'available';
                        } else if (this.status() == 'unavailable') {
                            //seat has been already booked
                            return 'unavailable';
                        } else {
                            return this.style();
                        }
                    }
                });

            //this will handle "[cancel]" link clicks
            $('#selected-seats').on('click', '.cancel-cart-item', function () {
                //let's just trigger Click event on the appropriate seat, so we don't have to repeat the logic here
                sc.get($(this).parents('li:first').data('seatId')).click();
            });

            //let's pretend some seats have already been booked
            sc.get(['1_2', '4_1', '7_1', '7_2']).status('unavailable');

        });

        function recalculateTotal(sc) {
            var total = 0;

            //basically find every selected seat and sum its price
            sc.find('selected').each(function () {
                total += this.data().price;
            });

            return total;
        }

    </script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36251023-1']);
        _gaq.push(['_setDomainName', 'jqueryscript.net']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</body>
</html>
