$sm: 575.98px;
$md: 767.98px;
$lg: 991.98px;
#body-pay{
	.note{
		margin: 30px 0;
		border: 1px solid #8AB88B;
		background: #E6E7E8;
		padding: 10px;
	}
	.panel{
		border: 1px solid #ddd;
		padding: 10px;
		margin-bottom: 20px;
	}
	.payment{
		ul{
			padding-left: 0;
			list-style: none;
			li{
				.panel-pay{
					border: 0.5px dotted #ddd;
				}
			}
		}
		&-img{
			width: 100px;
			height: 50px;
		}
	}
	.info{
		.group-item{
			border-bottom: 1px solid #ddd;
		}
	}
}
.btn{
	&-booking{
		background: #00877E;
		color: #fff;
		&:hover{
			background: #00A07E;
			color: #fff;
		};
		@media (max-width: #{$lg}){
			margin-bottom: 5px;
		}
	}
		
}